html {
 background-color: #0F172A;
 color: #ffffff;
 font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;

}
.bordao{
    border: 5px solid red;
}
.nav{
    padding: 1rem 1rem 1rem 1rem;
}
.headlinks{
   display: flex;
   justify-content: flex-end;
    
}
.headlinks a{
    font-size: 2.4rem;
    color: #ffffff;
    text-decoration: none;
    padding:2rem;
}
.exper img {
    height: 16rem;
    width: 16rem;
}