html {
 background-color: #0F172A;
 color: #ffffff;
 font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;

}
.bordao1{
    border: 5px solid red;
}
.nav{
    padding: 1rem 1rem 1rem 1rem;
}
.headlinks{
   display: flex;
   justify-content: flex-end;
    
}
.headlinks a{
    font-size: 2.4rem;
    color: #ffffff;
    text-decoration: none;
    padding:2rem;
}
.exper img {
    height: 20rem;
    width: 20rem;
}
.start{
    padding: 1rem 0rem 8rem 0rem;
    max-width: 96rem;
    margin:0 auto;
    display:flex;
}
.start-text{
    padding: 0rem 0rem 0rem 5rem;
 margin: auto 0;
}
.start img{
    height: 30rem;
    width: 30rem;
    border-radius:100%;
    margin:0 auto
}
.ap-title{
    font-size: 4.4rem;
    margin:1rem;
    padding-left: 5rem;
}
.ap{
    background-color: #162340;
}
.ap-content{
    padding:2rem 2rem;
    margin: 0 auto;
    max-width: 90rem;
}
.ap-p{
    padding-left:5rem;
}
.com-png{
    border-radius:10%;
}
.exper{
    padding:4rem;
    max-width: 100rem;
    margin:0 auto;
}
.exper-com{
display:flex; 
padding-top:4rem;
}
.exper-title{
    font-size:4.4rem;
    margin:1rem;
    padding-left: 5rem; 
    padding-top:2rem;
}
.com-name{
    padding-left:5rem;
   
}
.com-text{
    padding-left:8rem;
    padding-right: 10rem;
}
.links a { 
    font-size: 2.4rem;
    color: #ffffff;
    text-decoration: none;
    padding: 3rem;
}
.links{
    max-width:50rem;
    margin:0 auto
}
.end{
    font-size: 1.4rem;
    padding-top: 3rem;
    max-width: 18rem;
    margin:auto;
}